
{% extends 'blog/base.html' %}    <!-- This file acts as a block that is plugged in the base.html filr; this declaration coonestd the 2 files indicating that this file is to be used as an extension of the base.html -->

{% block content %}
	{% for post in posts %}
			<div class="post">
			 	<div class="date">
	    		<p>published: {{ post.published_date }}</p>
			</div>
			<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>    <!-- pk stands for primary key; its a unoque name for each record in a database. If we dont specify one then one is ceated for us and is incremented by 1 for each element in the Post Model. -->
			
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
{% endblock %}