<html>
	<head>
		<title> The Django Blog</title>
	</head>

	<body>
		<div>
			<h1><a href="">The Django Blog</a></h1>
		</div>

		<div>
			<p>published: 09.02.2017, 11:35</p>
			<h2><a href="">My First Post</a></h2>
			<p>This post serves the sole purpose of proving that a website can be created from scratch using Django!</p>
		</div>

		<div>
			<p>published: 10.02.2017, 13:35</p>
			<h2><a href="">My Second Post</a></h2>
			<p>This post serves the sole purpose of proving that a website can be created from scratch using Django!</p>
		</div>

		<div>
			<p>published: 15.02.2017, 10:35</p>
			<h2><a href="">My Third Post</a></h2>
			<p>This post serves the sole purpose of proving that a website can be created from scratch using Django!</p>
		</div>
	</body>
</html>
