<html>
	<head>
		<title> The Django Blog</title>
	</head>

	<body>
		<div>
			<h1><a href="">The Django Blog</a></h1>
		</div>

		<!--Mix of template and HTML tags to iterate over a list of posts and access their attributes to display them on the web-page-->
		
		{% for post in posts %}
			<div>		
				<p>published: {{ post.published_date }}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>				<!-- The linbreaksbr is piping the posts' text through a filter to convert line-breaks into paragraphs-->
			</div>
		{% endfor %}
	</body>
</html>
